@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    font-family: 'Pacifico', cursive;
}

.piano-key {
    width: 80px;
    height: 300px;
    margin: 30px 5px;
    border: #313131 2px solid;
    background-color: #fff;
    cursor: pointer;
}

.piano-key:active {
    background-color: #313131;
    color: #fff;
}
